.label {
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.label span {
  font-weight: 500;
  margin-bottom: 5px;
}

.redAsteristic {
  color: #d02828;
  margin-left: 3px;
}

.input {
  font-size: .9em;
  border: 1px solid #b2b2b2;
  padding: 8px 12px;
  outline-width: 1px;
  outline-color: var(--main-blue);
}