.list {
  list-style: none;
}

.list h4 {
  color: #ffffff80;
  font-weight: 500;
  margin-bottom: 1.3em;
}

.list li {
  margin: 8px 0;
}

.list a {
  color: #fff;
  font-size: .9em;
  font-weight: 300;
  text-decoration: none;
  transition: .2s;
}

.list a:hover {
  color: #ffffff80;
}