.greetingsContainer {
  margin: 50px 0;
}

.greetingsContainer h2 {
  text-align: center;
  font-size: clamp(1.3em, 2.5vw, 1.8em);
  font-weight: 600;
}

.profileActionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}