.card {
  width: 250px;
  height: 100%;
  margin-right: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.imageContainer {
  height: 150px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.productNameContainer {
  padding: 12px 0;
}

.productNameContainer p {
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
}

.priceContainer span {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--main-blue);
}