.header {
  width: 100%;
  padding: 1em 0;
  border-bottom: 2px solid #ececec;
}

.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions svg {
  font-size: 1.3em;
}

/* MEDIA QUERY */

@media (max-width: 700px) {
  .headerArea {
    gap: 1.5em;
  }
}

@media (max-width: 480px) {
  .actions {
    gap: 15px;
  }
  .headerArea {
    gap: .9em;
  }
}