.container {
  width: 100%;
  padding: .8em 1em;
  border-radius: 20px;
  background-color: #e0e0e0;
  margin-bottom: 18px;
}

.titleContainer {
  margin-bottom: 10px;
}

.titleContainer h3 {
  font-size: .9em;
  font-weight: 600;
}

.contentContainer {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.contentContainer p {
  font-size: .9em;
}