.mainContainer {
  padding: 1.5em 20px 3em;
  background-color: #f5f7ff;
  border-radius: 15px;
}

.container {
  padding: 3em 0 3.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productDetailsContainer {
  max-width: 400px;
}

.productDetailsContainer h3 {
  font-size: 1.3em;
  font-weight: 500;
}

.price {
  font-size: 1.1em;
  margin: 1.2em 0 2em;
  font-weight: 500;
}

.productImageContainer {
  max-width: 450px;
  height: 290px;
}

.productImageContainer img {
  width: 100%;
  height: 100%;
}

.commentsContainer h2 {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: .5em;
}

.commentsContainer form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.commentsContainer form textarea {
  width: 100%;
  max-width: 400px;
  height: 50px;
  padding: 10px;
  border: 1px solid #dddddd;
  outline-color: var(--main-blue);
  border-radius: 10px;
  background-color: #fafbff;
  resize: none;
}

.commentsContainer form button {
  width: 50px;
  height: 50px;
  background-color: var(--main-blue);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentsContainer form button:active {
  background-color: var(--dark-blue);
} 

.commentsContainer form button svg {
  color: #fff;
}

/* MEDIA QUERY */

@media (max-width: 920px) {

  .container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .productImageContainer {
    margin-bottom: 1.5em;
    height: auto;
  }
}